In [1]:
import pandas as pd

In [3]:
m_df = pd.read_csv('../src/preproc/m_df.tsv', sep='\t')

In [4]:
m_df.head()

,budget,id,original_language,overview,popularity,release_date,revenue,runtime,status,tagline,title,vote_average,vote_count,release_year,release_month,release_day_of_week,return,collection_name
0,30000000.0,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,1995-10-30,373554033.0,81.0,Released,NaN,Toy Story,7.7,5415.0,1995,10,Monday,12.451801,Toy Story Collection
1,65000000.0,8844,en,When siblings Judy and Peter discover an encha...,17.015539,1995-12-15,262797249.0,104.0,Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0,1995,12,Friday,4.043035,NaN
2,0.0,15602,en,A family wedding reignites the ancient feud be...,11.712900,1995-12-22,0.0,101.0,Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,92.0,1995,12,Friday,0.000000,Grumpy Old Men Collection
3,16000000.0,31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,1995-12-22,81452156.0,127.0,Released,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,34.0,1995,12,Friday,5.090760,NaN
4,0.0,11862,en,Just when George Banks has recovered from his ...,8.387519,1995-02-10,76578911.0,106.0,Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,173.0,1995,2,Friday,0.000000,Father of the Bride Collection

In [5]:
m_cast_df = pd.read_csv('../src/preproc/m_cast_df.tsv', sep='\t')

In [6]:
m_cast_df.head()

    id actor_actress_name
0  862          Tom Hanks
1  862          Tim Allen
2  862        Don Rickles
3  862         Jim Varney
4  862      Wallace Shawn

In [12]:
m_cast_df[m_cast_df['actor_actress_name'] == 'Tom Hanks']

id
208988    2
862       1
59861     1
213121    1
109424    1
         ..
6951      1
8358      1
40820     1
12309     1
331214    1
Name: count, Length: 71, dtype: int64

In [7]:
m_cast_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 565219 entries, 0 to 565218
Data columns (total 2 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   id                  565219 non-null  int64
 1   actor_actress_name  562801 non-null  object
dtypes: int64(1), object(1)
memory usage: 8.6+ MB

In [8]:
merged = pd.merge(m_cast_df, m_df, on='id', how='left')

In [9]:
merged.head()

,id,actor_actress_name,budget,original_language,overview,popularity,release_date,revenue,runtime,status,tagline,title,vote_average,vote_count,release_year,release_month,release_day_of_week,return,collection_name
0,862,Tom Hanks,30000000.0,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,1995-10-30,373554033.0,81.0,Released,NaN,Toy Story,7.7,5415.0,1995.0,10.0,Monday,12.451801,Toy Story Collection
1,862,Tim Allen,30000000.0,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,1995-10-30,373554033.0,81.0,Released,NaN,Toy Story,7.7,5415.0,1995.0,10.0,Monday,12.451801,Toy Story Collection
2,862,Don Rickles,30000000.0,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,1995-10-30,373554033.0,81.0,Released,NaN,Toy Story,7.7,5415.0,1995.0,10.0,Monday,12.451801,Toy Story Collection
3,862,Jim Varney,30000000.0,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,1995-10-30,373554033.0,81.0,Released,NaN,Toy Story,7.7,5415.0,1995.0,10.0,Monday,12.451801,Toy Story Collection
4,862,Wallace Shawn,30000000.0,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,1995-10-30,373554033.0,81.0,Released,NaN,Toy Story,7.7,5415.0,1995.0,10.0,Monday,12.451801,Toy Story Collection

In [13]:
merged['return'].sum()

504374381.93618333

In [16]:
cant_peliculas = merged['id'].count()
cant_peliculas

565859

In [18]:
i = 0
for row in merged.itertuples():
    print(row)
    i += 1
    if i > 5:
        break

Pandas(Index=0, id=862, actor_actress_name='Tom Hanks', budget=30000000.0, original_language='en', overview="Led by Woody, Andy's toys live happily in his room until Andy's birthday brings Buzz Lightyear onto the scene. Afraid of losing his place in Andy's heart, Woody plots against Buzz. But when circumstances separate Buzz and Woody from their owner, the duo eventually learns to put aside their differences.", popularity=21.946943, release_date='1995-10-30', revenue=373554033.0, runtime=81.0, status='Released', tagline=nan, title='Toy Story', vote_average=7.7, vote_count=5415.0, release_year=1995.0, release_month=10.0, release_day_of_week='Monday', _18=12.4518011, collection_name='Toy Story Collection')
Pandas(Index=1, id=862, actor_actress_name='Tim Allen', budget=30000000.0, original_language='en', overview="Led by Woody, Andy's toys live happily in his room until Andy's birthday brings Buzz Lightyear onto the scene. Afraid of losing his place in Andy's heart, Woody plots against Buzz. But when circumstances separate Buzz and Woody from their owner, the duo eventually learns to put aside their differences.", popularity=21.946943, release_date='1995-10-30', revenue=373554033.0, runtime=81.0, status='Released', tagline=nan, title='Toy Story', vote_average=7.7, vote_count=5415.0, release_year=1995.0, release_month=10.0, release_day_of_week='Monday', _18=12.4518011, collection_name='Toy Story Collection')
Pandas(Index=2, id=862, actor_actress_name='Don Rickles', budget=30000000.0, original_language='en', overview="Led by Woody, Andy's toys live happily in his room until Andy's birthday brings Buzz Lightyear onto the scene. Afraid of losing his place in Andy's heart, Woody plots against Buzz. But when circumstances separate Buzz and Woody from their owner, the duo eventually learns to put aside their differences.", popularity=21.946943, release_date='1995-10-30', revenue=373554033.0, runtime=81.0, status='Released', tagline=nan, title='Toy Story', vote_average=7.7, vote_count=5415.0, release_year=1995.0, release_month=10.0, release_day_of_week='Monday', _18=12.4518011, collection_name='Toy Story Collection')
Pandas(Index=3, id=862, actor_actress_name='Jim Varney', budget=30000000.0, original_language='en', overview="Led by Woody, Andy's toys live happily in his room until Andy's birthday brings Buzz Lightyear onto the scene. Afraid of losing his place in Andy's heart, Woody plots against Buzz. But when circumstances separate Buzz and Woody from their owner, the duo eventually learns to put aside their differences.", popularity=21.946943, release_date='1995-10-30', revenue=373554033.0, runtime=81.0, status='Released', tagline=nan, title='Toy Story', vote_average=7.7, vote_count=5415.0, release_year=1995.0, release_month=10.0, release_day_of_week='Monday', _18=12.4518011, collection_name='Toy Story Collection')
Pandas(Index=4, id=862, actor_actress_name='Wallace Shawn', budget=30000000.0, original_language='en', overview="Led by Woody, Andy's toys live happily in his room until Andy's birthday brings Buzz Lightyear onto the scene. Afraid of losing his place in Andy's heart, Woody plots against Buzz. But when circumstances separate Buzz and Woody from their owner, the duo eventually learns to put aside their differences.", popularity=21.946943, release_date='1995-10-30', revenue=373554033.0, runtime=81.0, status='Released', tagline=nan, title='Toy Story', vote_average=7.7, vote_count=5415.0, release_year=1995.0, release_month=10.0, release_day_of_week='Monday', _18=12.4518011, collection_name='Toy Story Collection')
Pandas(Index=5, id=862, actor_actress_name='John Ratzenberger', budget=30000000.0, original_language='en', overview="Led by Woody, Andy's toys live happily in his room until Andy's birthday brings Buzz Lightyear onto the scene. Afraid of losing his place in Andy's heart, Woody plots against Buzz. But when circumstances separate Buzz and Woody from their owner, the duo eventually learns to put aside their differences.", popularity=21.946943, release_date='1995-10-30', revenue=373554033.0, runtime=81.0, status='Released', tagline=nan, title='Toy Story', vote_average=7.7, vote_count=5415.0, release_year=1995.0, release_month=10.0, release_day_of_week='Monday', _18=12.4518011, collection_name='Toy Story Collection')